pre {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
  line-height: 1.2;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--secondary-bg);
  box-shadow: 0 0 5px var(--box-shadow);
}

pre::-webkit-scrollbar {
  width: 1em;
}
 
pre::-webkit-scrollbar-track {
  background-color: var(--secondary-bg);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
 
pre::-webkit-scrollbar-thumb {
  background-color: var(--fg-colour);
  border-radius: 0.5rem;
  border: 4px solid var(--secondary-bg);
}

code {
  margin: 0;
  font-size: 15px;
  font-family: "JetBrains Mono";
  color: var(--fg-colour-bold);
}

img { max-width: 100% }

table {
  border-collapse: collapse;
  box-shadow: 0 0 5px var(--box-shadow);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

th {
  padding: 0.5rem;
  text-align: left;
  background-color: var(--accent);
  color: white;
}

th:first-child { border-top-left-radius: 0.5rem }
th:last-child { border-top-right-radius: 0.5rem }

td { padding: 0.25rem 0.75rem }

tr:nth-child(odd) { background-color: var(--secondary-bg) }
tr:nth-child(even) { background-color: var(--tertiary-bg) }

.attribute { color: #E5C07B }
.comment { color: #5C6370; font-style: italic }
.constant { color: #56B6C2 }
.constant-numeric { color: #D19A66 }
.constant-builtin { color: #D19A66 }
.constant-character-escape { color: #D19A66 }
.constructor { color: #40AFFF }
.function { color: #40AFFF }
.function-builtin { color: #40AFFF }
.function-macro { color: #C678DD }
.keyword { color: #E06C75 }
.keyword-control { color: #C678DD }
.keyword-control-import { color: #E06C75 }
.keyword-directive { color: #C678DD }
.label { color: #C678DD }
.namespace { color: #40AFFF }
.operator { color: #C678DD }
.keyword-operator { color: #C678DD }
.special { color: #40AFFF }
.string { color: #98C379 }
.type { color: #E5C07B }
.variable {}
.variable-builtin { color: #40AFFF }
.variable-parameter { color: #E06C75 }
.variable-other-member { color: #E06C75 }

.markup-heading { color: #E06C75 }
.markup-raw-inline { color: #98C379 }
.markup-bold { color: #D19A66; font-weight: bold }
.markup-italic { color: #C678DD; font-style: bold }
.markup-list { color: #E06C75 }
.markup-quote { color: #E5C07B }
.markup-link-url { color: #56B6C2; text-decoration: underline }
.markup-link-text { color: #C678DD }
