<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/index.css">
    <title>{{ name }} :: {{ description }}</title>
  </head>
  <body data-theme="default">
    {% include "header" %}
    <h3 class="recent-posts-header">Most recent posts:</h3>
    <main class="recent-posts">
      {% for post in recent_posts %}
      <article class="recent-post" lang="{{ post.language }}">
        <h3 class="recent-post-title"><a target="_blank" href="{{ post.url }}">{{ post.title }}</a></h3>
        <h5 class="recent-post-timestamp">
          <time datetime="{{ post.timestamp }}">{{ post.timestamp | fmt_timestamp: "%H:%M %a %e %b %C" }}</time>
        </h5>
        <p class="recent-post-summary">{{ post.summary | trunc: 384 }}</p>
      </article>
      {% endfor %}
    </main>
    <script src="./theme-switch.js"></script>
  </body>
</html>