@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/Fira-Code.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body[data-theme="default"], body[data-theme="dark"] {
  --primary-bg: #181818;
  --secondary-bg: #121212;
  --fg-colour: #DCDCDC;
  --fg-colour-bold: #F8F8F8;
  --box-shadow: #080808;
}

body[data-theme="light"] {
  --primary-bg: #EFEFEF;
  --secondary-bg: #F4F4F4;
  --fg-colour: #202020;
  --fg-colour-bold: #101010;
  --box-shadow: #CCCCCC;
}

body {
  width: 60rem;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Inter";
  font-size: 1.1rem;
  color: var(--fg-colour);
  background-color: var(--primary-bg);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--fg-colour-bold);
}

@media only screen and (max-width: 975px) {
  body { width: calc(100% - 2rem) }
}
