pre {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    line-height: 0.75;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--secondary-bg);
    box-shadow: 0 0 5px var(--box-shadow);
}

pre::-webkit-scrollbar {
    width: 1em;
}

pre::-webkit-scrollbar-track {
    background-color: var(--secondary-bg);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

pre::-webkit-scrollbar-thumb {
    background-color: var(--fg-colour);
    border-radius: 0.5rem;
    border: 4px solid var(--secondary-bg);
}

code {
    margin: 0;
    font-family: "Iosevka Web";
    color: var(--fg-colour-bold);
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    box-shadow: 0 0 5px var(--box-shadow);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden; /* Solves Firefox rendering issue */
}

th {
    padding: 0.5rem;
    text-align: left;
    background-color: var(--accent);
    color: white;
}

th:first-child {
    border-top-left-radius: 0.5rem;
}
th:last-child {
    border-top-right-radius: 0.5rem;
}

td {
    padding: 0.25rem 0.75rem;
}

tr:nth-child(odd) {
    background-color: var(--secondary-bg);
}
tr:nth-child(even) {
    background-color: var(--tertiary-bg);
}

.attribute {
    color: #e5c07b;
}
.comment {
    color: #5c6370;
    font-style: italic;
}
.constant {
    color: #56b6c2;
}
.constant-numeric {
    color: #d19a66;
}
.constant-builtin {
    color: #d19a66;
}
.constant-character-escape {
    color: #d19a66;
}
.constructor {
    color: #40afff;
}
.function {
    color: #40afff;
}
.function-builtin {
    color: #40afff;
}
.function-macro {
    color: #c678dd;
}
.keyword {
    color: #e06c75;
}
.keyword-control {
    color: #c678dd;
}
.keyword-control-import {
    color: #e06c75;
}
.keyword-directive {
    color: #c678dd;
}
.label {
    color: #c678dd;
}
.namespace {
    color: #40afff;
}
.operator {
    color: #c678dd;
}
.keyword-operator {
    color: #c678dd;
}
.special {
    color: #40afff;
}
.string {
    color: #98c379;
}
.type {
    color: #e5c07b;
}
.variable {
}
.variable-builtin {
    color: #40afff;
}
.variable-parameter {
    color: #e06c75;
}
.variable-other-member {
    color: #e06c75;
}

.markup-heading {
    color: #e06c75;
}
.markup-raw-inline {
    color: #98c379;
}
.markup-bold {
    color: #d19a66;
    font-weight: bold;
}
.markup-italic {
    color: #c678dd;
    font-style: bold;
}
.markup-list {
    color: #e06c75;
}
.markup-quote {
    color: #e5c07b;
}
.markup-link-url {
    color: #56b6c2;
    text-decoration: underline;
}
.markup-link-text {
    color: #c678dd;
}
