@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/Fira-Code.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 60rem;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Inter";
  font-size: 1.1rem;
  color: #D8D8D8;
  background-color: #181818;
}

h1, h2, h3, h4, h5, h6 {
  color: #F0F0F0;
}

pre {
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: auto;
  padding: 1.5rem;
  line-height: 1;
  border-radius: 1rem;
  background-color: #101010;
  box-shadow: 0 0 5px black;
}

code {
  margin: 0;
  font-size: 15px;
  font-family: "Fira Code";
}


.attribute { color: #E5C07B }
.comment { color: #5C6370; font-style: italic }
.constant { color: #56B6C2 }
.constant-numeric { color: #D19A66 }
.constant-builtin { color: #D19A66 }
.constant-character-escape { color: #D19A66 }
.constructor { color: #40AFFF }
.function { color: #40AFFF }
.function-builtin { color: #40AFFF }
.function-macro { color: #C678DD }
.keyword { color: #E06C75 }
.keyword-control { color: #C678DD }
.keyword-control-import { color: #E06C75 }
.keyword-directive { color: #C678DD }
.label { color: #C678DD }
.namespace { color: #40AFFF }
.operator { color: #C678DD }
.keyword-operator { color: #C678DD }
.special { color: #40AFFF }
.string { color: #98C379 }
.type { color: #E5C07B }
.variable {}
.variable-builtin { color: #40AFFF }
.variable-parameter { color: #E06C75 }
.variable-other-member { color: #E06C75 }

.markup-heading { color: #E06C75 }
.markup-raw-inline { color: #98C379 }
.markup-bold { color: #D19A66; font-weight: bold }
.markup-italic { color: #C678DD; font-style: bold }
.markup-list { color: #E06C75 }
.markup-quote { color: #E5C07B }
.markup-link-url { color: #56B6C2; text-decoration: underline }
.markup-link-text { color: #C678DD }

